
body {
    background-color: gainsboro;
    font-size: 30px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: sticky;
    color: rgb(19, 19, 19);
    background-color: rgba(255, 255, 255, 0);
    top: 0;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /*_____________________________where the magic starts_________________*/
  li a:hover {
    background-color: none;
    font-size: 200%;
  }
 /*________________________________________________________*/
  
  
